.stylish-btn{
    background-color: #2A5631;
    color: white;
    border-radius: 15px;
    padding: 7px 15px;
    border: .3px solid #2A5631;
    font-weight: 500;
}
.stylish-btn:hover{
    background-color: white;
    color: #2A5631;
}


.logo-name{
    color: #2A5631;
}